*{
    margin: 0;
    padding: 0;
}
body{
     font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.mailbox{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.mailbox h2{
    margin-bottom: 20px;
}
.mailbox input{
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.mailbox button{
    width: 95%;
    padding: 10px;
    background-color: #96AE00;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.mailbox button{
    background-color: #96AE00;
}
 